@{
    ViewData["Title"] = "Лабораторна 2";
}

@model Lab2InputViewModel

<p>
Будь-яке натуральне число можна у вигляді суми натуральних доданків,
кожне з яких є ступенем числа 2. Суми, що відрізняються лише порядком
доданків, вважаються однаковими. Наприклад, для числа 7 таких уявлень 6
(4+2+1, 4+1+1+1, 2+2+2+1, 2+2+1+1+1, 2+1+1+1+1 +1, 1+1+1+1+1+1+1).
</p>

<p>
Потрібно написати програму, яка знайде кількість способів такого
представлення заданого N.
</p>

<p>
Вхідний файл INPUT.TXT містить число N (1 ≤ N ≤ 1000).
У вихідний файл OUTPUT.TXT виведіть одне число – знайдену кількість
способів представлення N.
</p>

<form asp-controller="Labs" asp-action="RunLab2" method="post">
    <label>Число: <input asp-for="Number" /></label> <br />
    <button type="submit">Отримати результат</button>
</form>

<div>
    <p>Результат: @ViewBag.Result</p>
</div>
