@{
    ViewData["Title"] = "Home Page";
}


<p>Створити веб застосунок (ASP.NET Core MVC), що задовольнятиме наступним вимогам.</p>
<ol>
    <li>Складається з двох проектів:
        <ul>
            <li>Безпосередньо веб додаток</li>
            <li>Бібліотека класів, що дає змогу запускати практичні 1, 2 або 3</li>
        </ul>
    </li>
    <li>Розгортання виконати на операційній системі Linux (Ubuntu/Debian) за допомогою віртуальної машини</li>
    <li>Має настпуний інтерфейс
        <ul>
            <li>Сторінка вітання з описом роботи</li>
            <li>Сторінка логіну, реестрації та профілю користувача.</li>
            <li>3 сторінки для кожної підпрограмми з полями для вводу та виводу, з описом того, що робить підпрограма</li>
            <li>Доступ до сторінок з підпрограмами можливий після авторизації</li>
        </ul>
    </li>
    <li>Сторінка реестрації має дозволяти ввести, щонайменше наступні поля
        <ul>
            <li>Імя користувача (50 символів, унікальне)</li>
            <li>ФІО (500 символів)</li>
            <li>Пароль, та підвердження паролю (однакові, що найменше 1 цифра, 1 знак, 1 велика літера, не менше 8 символів, не більше 16)</li>
            <li>Телефон (формат Україна)</li>
            <li>Електронна адреса RFC 822</li>
        </ul>
    </li>
    <li>Cторінка профілю не має можливості редагування тільки відображає інформацію що введена при реестрації</li>
    <li>Для авторизації і аутенфікації слід використати будь-який сервер, що реалізує OAuth2.</li>
</ol>


<ul>
    <li><a asp-controller="Data" asp-action="ListSizes">Розміри</a></li>
    <li><a asp-controller="Data" asp-action="ListStatuses">Статуси</a></li>
    <li><a asp-controller="Data" asp-action="ListLocations">Локації</a></li>
</ul>
